a{
    color: black;
    outline: none;
    text-decoration: none;
}
body{
    background-color: rgba(0, 238, 155, 0);
}
.nav_bar {
    background-color: rgba(0, 69, 40, 0);
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.nav_bar_item{
    margin: 3px;
    font: size 14px;

}
.nav_bar_item:hover{
    font: size 16px;
    font-weight: bold;
}
.game_holder{
    display: flex;
}
.game_item{
    width: 25%;
    text-align: center;
    border: solid 1px black ;
}


