<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
<body>
<form name="logoutForm" method="post" th:action="@{/sec/logout}"></form>
<div class="nav_bar" th:fragment="navbar">

    <a class="nav_bar_item" href="/games">Игры</a>
    <a class="nav_bar_item" href="/reviews">Статьи</a>
    <a class="nav_bar_item" href="/user">Личный кабинет</a>
    <a class="nav_bar_item" href="javascript: document.logoutForm.submit()" role="button"> Logout</a>
</div>

</body>
</html>